<div id="loader" *ngIf="!this.loading">
    <div class="content">
        <div class="image">
            <img src="assets/logo-pokemon.png" alt="">
        </div>
        <div class="loading"></div>
    </div>
</div>
<div id="pokemons" *ngIf="this.loading">
    <div id="arrows">
        <div class="next" *ngIf="this.next"><a routerLink="/pokemons/{{ this.next }}">></a></div>
        <div class="previous" *ngIf="this.previous"><a routerLink="/pokemons/{{ this.previous }}"><</a></div>
    </div>
    <div id="pagination">

    </div>
    <div id="pokemon">
        <div class="container">
            <div class="row">
                <div class="item col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let poke of pokeList">
                    <a class="box" routerLink="/pokemon/{{ poke.id }}" routerLinkActive="active">
                        <div class="id">
                            #{{ poke.id }}
                        </div>
                        <div class="image">
                            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{ poke.id }}.png">
                        </div>
                        <div class="name">
                             {{ poke.name }}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
